
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 1.1rem;
    background-color: #fff;
}


/* ============ global font sizes styles ====== */
.font-8{
    font-size: 0.9rem
}
.font-9{
    font-size: 0.98rem;
}
.font-12{
    font-size: 1.2rem;
}
.font-14{
    font-size: 1.4rem;
}
.font-16{
    font-size: 1.6rem;
}
.font-18{
    font-size: 1.8rem;
}

/* ============ global font weights ====== */
.fontw-300{
    font-weight: 300;
}
.fontw-400{
    font-weight: 400;
}
.fontw-500{
    font-weight: 500;
}
.fontw-600{
    font-weight: 600;
}


/* ========global font colors ======= */
.white{
    color: #fff;
}
.gray{
    color: #a2a2a2;
}
.blue{
    color: #0099ff;
}

/* ========global background colors ======= */
.bg-white{
    background-color: #fff;
}
.bg-red{
    background-color: red;
}


/* ========common style ==========*/
.top-news,
.update-news,
.news,
.reel{
    opacity: 1;
}
.top-news:hover,
.update-news:hover,
.news:hover,
.reel:hover{
    opacity: 0.8;
}




/* ========= topnav section style =========== */
.nav-item{
    margin: 0px 5px;
}
.user-icon{
    font-size: 1.4rem;
    border: 1px solid #dedede;
    border-radius: 50%;
    padding: 3px;
    margin-right: 5px;
}
.search-box{
    height: 35px;
    background-color: #dedede;
    margin: 0;
    padding: 0;
}
.search-box input{
    height: 100%;
    border: none;
    outline: none;
    padding: 4px 10px;
}
.search-icon{
    margin: 0px 8px;
    cursor: pointer;
}

/* ======= home page style ======== */
.home-content{
    padding: 40px 50px;
}
.adsense{
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7ecee;
}

.banner-heading{
    display: flex;
    justify-content: space-between;
}
.top-news,
.update-news{
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.top-news{
    min-height: 350px;
}
.news-content{
    position: absolute;
    left: 20px;
    bottom: 15px;
    margin: 0 auto;
    color: #fff;
}
.left-border{
    text-transform: uppercase;
    border-left: 2px solid #ffdd47;
    margin: 0;
    padding: 0;
    padding-left: 8px;
}
.update-news{
    min-height: 167px;
    margin-bottom: 15px;
}


/* ======== body content style ======== */
.body-content{
    padding: 30px 0px;
}
.section-title{
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    border-left: 3px solid red;
    padding-left: 8px;
    margin-left: 12px;
    margin-bottom: 10px;
}
.news img{
    width: 100%;
}

/*  =========== reels section style ========== */

.reels-section{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../images/reel-back.jpg');
}
.reels-section,
.future-planet{
    min-height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.reel-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.reel-btn{
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 4px 15px;
}
.reel video{
    width: 100%;
    height: 200px;
}
.reel h5{
    padding: 15px 10px;
}


/* ============= editors pick and latest-business-news section style ============ */
.editors-pick .top-news{
    min-height: 70vh;
}
.latest-business-news{
    min-height: 20vh;
}
.buisness-news{
    padding: 20px;
    display: flex;
    align-items: center;
}
.buisness-news:nth-child(odd){
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75));
}
.buisness-news:nth-child(even){
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)); 
}
.buisness-news .index{
    background-color: red;
    padding: 10px 15px;
    border-radius: 50%;
    margin-right: 10px;
}
.buisness-news:hover h4{
    color: #fff;
}

/* =======future planet style ======== */
.future-planet{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../images/planet.jpg');
}


/* ========== business and global trade style ========= */
.business-global .update-news{
    min-height: 50vh;
}


/* =========== explore news360 style========== */
.explore-news360{
    background-color: #1f1f1f;
}
.bottom-navbar{
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}
.bottom-nav-link{
    display: flex;
    flex-direction: column;
}
.bottom-nav-link a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    border-right: 2px solid gray;
}
.bottom-nav-link a:hover{
    color: #8f8f8f;
}


/* ============ featured section style ========== */
.featured-reels{
    background-color: #2b2b2b;
}
.featured-reels .reel2{
    min-height: 90vh;
    width: 100%;
    position: relative;
}
.reel2 video{
    width: 100%;
    height: 100%;
}
.featured-reels .play-icon{
    background-color: red;
    padding: 12px 20px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}
.reel2 .video-heading{
    position: absolute;
    left: 30px;
    bottom: 50px;
}
.related-reels{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    background-color: #363535;
    margin: 0;
    padding: 20px 10px;
}
.related-reels video{
    min-height: 20vh;
    width: 100%;
}
.related-reels h6{
    margin-bottom: 10px;
}


/* ========= worlds in pictures style =========== */
.world-pictures .world-big-pictures .update-news{
    min-height: 50vh;
}
.world-pictures .world-small-pictures .update-news{
    min-height: 30vh;
}
.world-in-picture{
    position: relative;
}
.world-in-picture .camera-icon{
    position: absolute;
    top: 0;
    left: 12px;
    background-color: #1f1f1f;
    color: #fff;
    font-size: 2.7rem;
    padding: 10px;
}



/* ================= terms and help style ======== */
.terms-help{
    display: flex;
    flex-wrap: wrap;
}
.terms-help a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    margin-right: 20px;
}
.terms-help a:hover{
    text-decoration: underline;
}



/* ========== login page style =========== */
.login,
.register{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form,
.register-form{
    max-width: 350px;
    margin: 0 auto;
}
.form-control{
    box-shadow: none;
}
