
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 1.1rem;
    background-color: #fff;
}


/* ============ global css styles ====== */
.font-8{
    font-size: 0.9rem
}
.font-9{
    font-size: 0.98rem;
}
.font-12{
    font-size: 1.2rem;
}
.font-14{
    font-size: 1.4rem;
}
.font-16{
    font-size: 1.6rem;
}
.font-18{
    font-size: 1.8rem;
}

/* ========global font colors ======= */
.gray{
    color: #8a8989;
}
.blue{
    color: #0099ff;
}


/* ========= topnav section style =========== */
.nav-item{
    margin: 0px 5px;
}
.user-icon{
    font-size: 1.4rem;
    border: 1px solid #dedede;
    border-radius: 50%;
    padding: 3px;
    margin-right: 5px;
}
.search-box{
    height: 35px;
    background-color: #dedede;
    margin: 0;
    padding: 0;
}
.search-box input{
    height: 100%;
    border: none;
    outline: none;
    padding: 4px 10px;
}
.search-icon{
    margin: 0px 8px;
    cursor: pointer;
}

/* ======= home page style ======== */
.home-content{
    padding: 40px 50px;
}
.adsense{
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7ecee;
}

.banner-heading{
    display: flex;
    justify-content: space-between;
}
.top-news,
.update-news{
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.top-news{
    height: 350px;
}
.news-content{
    position: absolute;
    left: 20px;
    bottom: 15px;
    margin: 0 auto;
    color: #fff;
}
.left-border{
    text-transform: uppercase;
    border-left: 3px solid tomato;
    margin: 0;
    padding: 0;
    padding-left: 8px;
}
.update-news{
    height: 167px;
    margin-bottom: 15px;
}


/* ======== body content style ======== */
.body-content{
    padding: 30px 0px;
}
.newses img{
    width: 100%;
}


/* ========== login page style =========== */
.login,
.register{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form,
.register-form{
    max-width: 350px;
    margin: 0 auto;
}
.form-control{
    box-shadow: none;
}
